In [1]:
#%pip install pyodbc  
#%pip install python-dotenv

#install openpyxl to overcome Import error of .xlsx file(Telco-churn-second-2000.xlsx)
#%pip install openpyxl

In [2]:
import pyodbc
from dotenv import dotenv_values
import pandas as pd
import warnings

warnings.filterwarnings('ignore')

import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
environment_variables=dotenv_values('.env')

database=environment_variables.get("DATABASE")
server=environment_variables.get("SERVER")
username=environment_variables.get("USERNAME")
password=environment_variables.get("PASSWORD")

connection_string=f"DRIVER={{SQL Server}};SERVER={server};DATABASE={database};UID={username};PWD={password}"

In [4]:
connection=pyodbc.connect(connection_string)

In [5]:
query="Select * from dbo.LP2_Telco_churn_first_3000"
data1=pd.read_sql(query, connection)

In [6]:
data1.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,False,True,False,1,False,None,DSL,False,...,False,False,False,False,Month-to-month,True,Electronic check,29.850000,29.850000,False
1,5575-GNVDE,Male,False,False,False,34,True,False,DSL,True,...,True,False,False,False,One year,False,Mailed check,56.950001,1889.500000,False
2,3668-QPYBK,Male,False,False,False,2,True,False,DSL,True,...,False,False,False,False,Month-to-month,True,Mailed check,53.849998,108.150002,True
3,7795-CFOCW,Male,False,False,False,45,False,None,DSL,True,...,True,True,False,False,One year,False,Bank transfer (automatic),42.299999,1840.750000,False
4,9237-HQITU,Female,False,False,False,2,True,False,Fiber optic,False,...,False,False,False,False,Month-to-month,True,Electronic check,70.699997,151.649994,True

In [7]:
#get information on first dataset

data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        3000 non-null   object
 1   gender            3000 non-null   object
 2   SeniorCitizen     3000 non-null   bool
 3   Partner           3000 non-null   bool
 4   Dependents        3000 non-null   bool
 5   tenure            3000 non-null   int64
 6   PhoneService      3000 non-null   bool
 7   MultipleLines     2731 non-null   object
 8   InternetService   3000 non-null   object
 9   OnlineSecurity    2349 non-null   object
 10  OnlineBackup      2349 non-null   object
 11  DeviceProtection  2349 non-null   object
 12  TechSupport       2349 non-null   object
 13  StreamingTV       2349 non-null   object
 14  StreamingMovies   2349 non-null   object
 15  Contract          3000 non-null   object
 16  PaperlessBilling  3000 non-null   bool
 17  PaymentMethod     3000 non-null   object
 18  MonthlyCharges    3000 non-null   float64
 19  TotalCharges      2995 non-null   float64
 20  Churn             2999 non-null   object
dtypes: bool(5), float64(2), int64(1), object(13)
memory usage: 389.8+ KB

In [8]:
# Save extracted data as data1.csv

data1.to_csv('data1.csv')

In [9]:
#import second dataset and save as data2.csv

data2 = pd.read_csv(r"C:\Users\lenovo\Desktop\Seth\Personal\Azubi\Career Accelarator prog\LP2\LP2_Telco-churn-last-2000.csv")
data2.to_csv('data2.csv')

In [10]:
#get information on data2

data2.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,5600-PDUJF,Male,0,No,No,6,Yes,No,DSL,No,...,No,Yes,No,No,Month-to-month,Yes,Credit card (automatic),49.50,312.7,No
1,8292-TYSPY,Male,0,No,No,19,Yes,No,DSL,No,...,Yes,Yes,No,No,Month-to-month,Yes,Credit card (automatic),55.00,1046.5,Yes
2,0567-XRHCU,Female,0,Yes,Yes,69,No,No phone service,DSL,Yes,...,Yes,No,No,Yes,Two year,Yes,Credit card (automatic),43.95,2960.1,No
3,1867-BDVFH,Male,0,Yes,Yes,11,Yes,Yes,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,74.35,834.2,Yes
4,2067-QYTCF,Female,0,Yes,No,64,Yes,Yes,Fiber optic,No,...,Yes,Yes,Yes,Yes,Month-to-month,Yes,Electronic check,111.15,6953.4,No

In [11]:
#check the shape of data 

data2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2043 entries, 0 to 2042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        2043 non-null   object
 1   gender            2043 non-null   object
 2   SeniorCitizen     2043 non-null   int64
 3   Partner           2043 non-null   object
 4   Dependents        2043 non-null   object
 5   tenure            2043 non-null   int64
 6   PhoneService      2043 non-null   object
 7   MultipleLines     2043 non-null   object
 8   InternetService   2043 non-null   object
 9   OnlineSecurity    2043 non-null   object
 10  OnlineBackup      2043 non-null   object
 11  DeviceProtection  2043 non-null   object
 12  TechSupport       2043 non-null   object
 13  StreamingTV       2043 non-null   object
 14  StreamingMovies   2043 non-null   object
 15  Contract          2043 non-null   object
 16  PaperlessBilling  2043 non-null   object
 17  PaymentMethod     2043 non-null   object
 18  MonthlyCharges    2043 non-null   float64
 19  TotalCharges      2043 non-null   object
 20  Churn             2043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 335.3+ KB

In [12]:
data1.shape

(3000, 21)

In [13]:
data2.shape

(2043, 21)

In [14]:
# Compare the two DataFrames data1 and data2 side-by-side

# Create custom summary DataFrames for each DataFrame
summary_data1 = pd.DataFrame({'Column Name': data1.columns, 'Data Type': data1.dtypes, 'Non-Null Count': data1.count()})
summary_data2 = pd.DataFrame({'Column Name': data2.columns, 'Data Type': data2.dtypes, 'Non-Null Count': data2.count()})

# Set 'Column Name' as the index for both summary DataFrames
summary_data1.set_index('Column Name', inplace=True)
summary_data2.set_index('Column Name', inplace=True)

# Concatenate the two summary DataFrames side by side
comparison = pd.concat([summary_data1, summary_data2], axis=1, keys=['DataFrame 1', 'DataFrame 2'])

# Print the side-by-side comparison
print(comparison)

                 DataFrame 1                DataFrame 2
                   Data Type Non-Null Count   Data Type Non-Null Count
Column Name
customerID            object           3000      object           2043
gender                object           3000      object           2043
SeniorCitizen           bool           3000       int64           2043
Partner                 bool           3000      object           2043
Dependents              bool           3000      object           2043
tenure                 int64           3000       int64           2043
PhoneService            bool           3000      object           2043
MultipleLines         object           2731      object           2043
InternetService       object           3000      object           2043
OnlineSecurity        object           2349      object           2043
OnlineBackup          object           2349      object           2043
DeviceProtection      object           2349      object           2043
TechSupport           object           2349      object           2043
StreamingTV           object           2349      object           2043
StreamingMovies       object           2349      object           2043
Contract              object           3000      object           2043
PaperlessBilling        bool           3000      object           2043
PaymentMethod         object           3000      object           2043
MonthlyCharges       float64           3000     float64           2043
TotalCharges         float64           2995      object           2043
Churn                 object           2999      object           2043

From the above, we can see that data2 (shown in DataFrame 2) has no missing data. However, data1 (shown in DataFrame 1) has some missing data. Also, there are different data types. Still column names are the same. 

Data cleaning for these will be done side by side and column by column

In [15]:
#Preview data1 'customerID column

data1['customerID'].head()

0    7590-VHVEG
1    5575-GNVDE
2    3668-QPYBK
3    7795-CFOCW
4    9237-HQITU
Name: customerID, dtype: object

In [16]:
#Preview data2 'customerID column

data2['customerID'].head()

0    5600-PDUJF
1    8292-TYSPY
2    0567-XRHCU
3    1867-BDVFH
4    2067-QYTCF
Name: customerID, dtype: object

Both 'customerID' columns look good. 
Preview 'gender' column of both data and clean if there are inconsistencies

In [17]:
data1['gender'].head()

0    Female
1      Male
2      Male
3      Male
4    Female
Name: gender, dtype: object

In [18]:
data1['gender'].unique()

array(['Female', 'Male'], dtype=object)

In [19]:
data2['gender'].head()

0      Male
1      Male
2    Female
3      Male
4    Female
Name: gender, dtype: object

In [20]:
data2['gender'].unique()

array(['Male', 'Female'], dtype=object)

The 'gender' column for both data looks clean. 
Next we look at the 'SeniorCitizen' column for inconsistencies and possible cleaning. 
There are no missing data but the datatype is different. data1 is a boolean while data2 is integers

In [21]:
data1['SeniorCitizen'].unique()

array([False,  True])

In [22]:
data2['SeniorCitizen'].unique()

array([0, 1], dtype=int64)

In [23]:
# Convert the binary column to boolean datatype
data2['SeniorCitizen'] = data2['SeniorCitizen'].astype(bool)

In [24]:
data2['SeniorCitizen'].unique()

array([False,  True])

The 'SeniorCitizen' column is clean now.
Check 'Partner' column
Convert data2['Partner'] to boolean datatype

In [25]:
data2['Partner'].head()

0     No
1     No
2    Yes
3    Yes
4    Yes
Name: Partner, dtype: object

In [26]:
data1['Partner'].head()

0     True
1    False
2    False
3    False
4    False
Name: Partner, dtype: bool

In [27]:
data2['Partner'].unique()

array(['No', 'Yes'], dtype=object)

In [28]:
#Replace 'Yes' or 'No' with True or False

data2['Partner'].replace('Yes', True, inplace=True)
data2['Partner'].replace('No', False, inplace=True)
data2['Partner'].head()

0    False
1    False
2     True
3     True
4     True
Name: Partner, dtype: bool

Check 'Dependent' column of inconsistencies.

In [29]:
data1['Dependents'].head()

0    False
1    False
2    False
3    False
4    False
Name: Dependents, dtype: bool

In [30]:
data1['Dependents'].unique()

array([False,  True])

In [31]:
data2['Dependents'].head()

0     No
1     No
2    Yes
3    Yes
4     No
Name: Dependents, dtype: object

In [32]:
#Replace 'Yes' or 'No' with True or False

data2['Dependents'].replace('Yes', True, inplace=True)
data2['Dependents'].replace('No', False, inplace=True)
data2['Dependents'].head()

0    False
1    False
2     True
3     True
4    False
Name: Dependents, dtype: bool

Inconsistencies in 'Dependents' column resolved
Check 'tenure' for inconsistencies

In [33]:
data1['tenure'].unique()

array([ 1, 34,  2, 45,  8, 22, 10, 28, 62, 13, 16, 58, 49, 25, 69, 52, 71,
       21, 12, 30, 47, 72, 17, 27,  5, 46, 11, 70, 63, 43, 15, 60, 18, 66,
        9,  3, 31, 50, 64, 56,  7, 42, 35, 48, 29, 65, 38, 68, 32, 55, 37,
       36, 41,  6,  4, 33, 67, 23, 57, 61, 14, 20, 53, 40, 59, 24, 44, 19,
       54, 51, 26,  0, 39], dtype=int64)

In [34]:
data2['tenure'].unique()

array([ 6, 19, 69, 11, 64, 39, 15, 25, 66, 61, 43, 12, 23, 71, 34,  5, 41,
       72, 14,  1, 10,  7,  9, 48, 20, 16,  2, 22, 35, 54, 56, 18, 68, 53,
       30, 36, 55, 21, 33, 44,  4, 49, 42, 67, 40, 45, 57,  8, 65,  3, 17,
       28, 52, 47, 50, 46, 29, 27, 13, 24, 62, 26, 60, 51, 70, 59, 38, 37,
        0, 58, 31, 32, 63], dtype=int64)

The 'tenure' column looks okay
Check 'PhoneService' column for inconsistencies

In [35]:
data1['PhoneService'].head()

0    False
1     True
2     True
3    False
4     True
Name: PhoneService, dtype: bool

In [36]:
data2['PhoneService'].head()

0    Yes
1    Yes
2     No
3    Yes
4    Yes
Name: PhoneService, dtype: object

In [37]:
#Replace 'Yes' or 'No' with True or False

data2['PhoneService'].replace('Yes', True, inplace=True)
data2['PhoneService'].replace('No', False, inplace=True)
data2['PhoneService'].head()

0     True
1     True
2    False
3     True
4     True
Name: PhoneService, dtype: bool

Inconsistencies in 'PhoneService' resolved
Check 'MultipleLines' for inconsistencies
data1 has some missing values

In [38]:
#confirm number of missing values

data1['MultipleLines'].isnull().sum()

269

In [39]:
data1['MultipleLines'].unique()

array([None, False, True], dtype=object)

In [40]:
data1['MultipleLines'].value_counts()

MultipleLines
False    1437
True     1294
Name: count, dtype: int64

In [41]:
#impute missing values with mode
mode_multiplelines = data1['MultipleLines'].mode()[0]

data1['MultipleLines'].fillna(mode_multiplelines, inplace=True)
data1['MultipleLines'].isnull().sum()

0

In [42]:
data1['MultipleLines'].value_counts()

MultipleLines
False    1706
True     1294
Name: count, dtype: int64

In [43]:
data2['MultipleLines'].unique()

array(['No', 'No phone service', 'Yes'], dtype=object)

In [44]:
data2['MultipleLines'].head()

0                  No
1                  No
2    No phone service
3                 Yes
4                 Yes
Name: MultipleLines, dtype: object

In [45]:
data2['MultipleLines'].value_counts()

MultipleLines
No                  987
Yes                 836
No phone service    220
Name: count, dtype: int64

In [46]:
#we assume that an answer of 'No phone service' is the same as No, since a customer without phone service will have not need for multiplelines

# Replace 'No phone service' with 'No' in the 'MultipleLines' column
data2['MultipleLines'].replace('No phone service', 'No', inplace=True)
data2['MultipleLines'].value_counts()

MultipleLines
No     1207
Yes     836
Name: count, dtype: int64

In [47]:
#confirm number of missing values

data2['MultipleLines'].isnull().sum()

0

In [48]:
data2['MultipleLines'].value_counts()

MultipleLines
No     1207
Yes     836
Name: count, dtype: int64

In [49]:
data2['MultipleLines'].replace('Yes', True, inplace=True)
data2['MultipleLines'].replace('No', False, inplace=True)
data2['MultipleLines'].head()

0    False
1    False
2    False
3     True
4     True
Name: MultipleLines, dtype: bool

In [50]:
data2['MultipleLines'].value_counts()

MultipleLines
False    1207
True      836
Name: count, dtype: int64

In [51]:
data2['MultipleLines'].unique()

array([False,  True])

In [52]:
data1['MultipleLines'].unique()

array([False,  True])

Inconsistencies in 'MultipleLines' resolved
Check 'InternetService' column for inconsistencies

In [53]:
data1['InternetService'].isnull().sum()

0

In [54]:
data1['InternetService'].nunique()

3

In [55]:
data1['InternetService'].unique()

array(['DSL', 'Fiber optic', 'No'], dtype=object)

In [56]:
data2['InternetService'].nunique()

3

In [57]:
data1['InternetService'].unique()

array(['DSL', 'Fiber optic', 'No'], dtype=object)

'InternetService' column is clean
Check 'OnlineSecurity' column for inconsistencies

In [58]:
data1['OnlineSecurity'].unique()

array([False, True, None], dtype=object)

In [59]:
data1['OnlineSecurity'].value_counts()

OnlineSecurity
False    1478
True      871
Name: count, dtype: int64

In [60]:
data1['OnlineSecurity'].isnull().sum()

651

In [61]:
# We assume the missing data is a response to the third option 'No Internet'. Hence will fill missing with 'No Internet'
# Impute missing values with 'No Internet'.


data1['OnlineSecurity'].fillna('No Internet', inplace=True)
data1['OnlineSecurity'].value_counts()

OnlineSecurity
False          1478
True            871
No Internet     651
Name: count, dtype: int64

In [62]:
data2['OnlineSecurity'].unique()

array(['No', 'Yes', 'No internet service'], dtype=object)

In [63]:
data2['OnlineSecurity'].value_counts()

OnlineSecurity
No                     1029
Yes                     585
No internet service     429
Name: count, dtype: int64

In [64]:
# Replace 'No internet service' with 'No Internet' in the 'MultipleLines' column
data2['OnlineSecurity'].replace('No internet service', 'No Internet', inplace=True)
data2['OnlineSecurity'].value_counts()

OnlineSecurity
No             1029
Yes             585
No Internet     429
Name: count, dtype: int64

Inconsistencies in 'OnlineSecurity' column resolved
Check inconsistencies in 'OnlineBackup' column

In [65]:
data1['OnlineBackup'].isnull().sum()

651

In [66]:
data1['OnlineBackup'].unique()

array([True, False, None], dtype=object)

In [67]:
data2['OnlineBackup'].unique()

array(['No', 'Yes', 'No internet service'], dtype=object)

In [68]:
# Replace 'False' with 'No' and 'True' with 'Yes' the 'OnlineBackup' column
# Fill missing values with 'No Internet'

data1['OnlineBackup'].replace(True, 'Yes', inplace=True)
data1['OnlineBackup'].replace(False, 'No', inplace=True)

data1['OnlineBackup'].fillna('No Internet', inplace=True)
data1['OnlineBackup'].value_counts()

OnlineBackup
No             1320
Yes            1029
No Internet     651
Name: count, dtype: int64

In [69]:
# Replace 'No internet service' with 'No Internet'

data2['OnlineBackup'].replace('No internet service', 'No Internet', inplace=True)
data2['OnlineBackup'].unique()

array(['No', 'Yes', 'No Internet'], dtype=object)

In [70]:
data1['DeviceProtection'].unique()

array([False, True, None], dtype=object)

In [71]:
data1['DeviceProtection'].isnull().sum()

651

In [72]:
# Replace 'False' with 'No' and 'True' with 'Yes' the 'OnlineBackup' column
# Fill missing values with 'No Internet'

data1['DeviceProtection'].replace(True, 'Yes', inplace=True)
data1['DeviceProtection'].replace(False, 'No', inplace=True)

data1['DeviceProtection'].fillna('No internet service', inplace=True)
data1['DeviceProtection'].value_counts()

DeviceProtection
No                     1296
Yes                    1053
No internet service     651
Name: count, dtype: int64

In [73]:
data2['DeviceProtection'].unique()

array(['No', 'Yes', 'No internet service'], dtype=object)

In [74]:
data1['TechSupport'].unique()

array([False, True, None], dtype=object)

In [75]:
data1['TechSupport'].replace(True, 'Yes', inplace=True)
data1['TechSupport'].replace(False, 'No', inplace=True)

data1['TechSupport'].fillna('No internet', inplace=True)
data1['TechSupport'].value_counts()

TechSupport
No             1476
Yes             873
No internet     651
Name: count, dtype: int64

In [76]:
data1['TechSupport'].isnull().sum()

0

In [77]:
data2['TechSupport'].unique()

array(['Yes', 'No', 'No internet service'], dtype=object)

In [78]:
data2['TechSupport'].replace('No internet service', 'No internet', inplace=True)
data2['TechSupport'].unique()

array(['Yes', 'No', 'No internet'], dtype=object)

In [79]:
data1['StreamingTV'].unique()

array([False, True, None], dtype=object)

In [80]:
data1['StreamingTV'].replace(True, 'Yes', inplace=True)
data1['StreamingTV'].replace(False, 'No', inplace=True)

data1['StreamingTV'].fillna('No internet service', inplace=True)
data1['StreamingTV'].value_counts()

StreamingTV
No                     1190
Yes                    1159
No internet service     651
Name: count, dtype: int64

In [81]:
data2['StreamingTV'].unique()

array(['No', 'Yes', 'No internet service'], dtype=object)

In [82]:
data1['StreamingMovies'].unique()

array([False, True, None], dtype=object)

In [83]:
data1['StreamingMovies'].replace(True, 'Yes', inplace=True)
data1['StreamingMovies'].replace(False, 'No', inplace=True)

data1['StreamingMovies'].fillna('No internet service', inplace=True)
data1['StreamingMovies'].value_counts()

StreamingMovies
Yes                    1199
No                     1150
No internet service     651
Name: count, dtype: int64

In [84]:
data2['StreamingMovies'].unique()

array(['No', 'Yes', 'No internet service'], dtype=object)

In [85]:
data1['Contract'].unique()

array(['Month-to-month', 'One year', 'Two year'], dtype=object)

In [86]:
data2['Contract'].unique()

array(['Month-to-month', 'Two year', 'One year'], dtype=object)

In [87]:
data1['PaperlessBilling'].unique()

array([ True, False])

In [88]:
data1['PaperlessBilling'].replace(True, 'Yes', inplace=True)
data1['PaperlessBilling'].replace(False, 'No', inplace=True)
data1['PaperlessBilling'].unique()

array(['Yes', 'No'], dtype=object)

In [89]:
data2['PaperlessBilling'].unique()

array(['Yes', 'No'], dtype=object)

In [90]:
data1['PaymentMethod'].unique()

array(['Electronic check', 'Mailed check', 'Bank transfer (automatic)',
       'Credit card (automatic)'], dtype=object)

In [91]:
data2['PaymentMethod'].unique()

array(['Credit card (automatic)', 'Electronic check', 'Mailed check',
       'Bank transfer (automatic)'], dtype=object)

In [92]:
data1['MonthlyCharges'].head()

0    29.850000
1    56.950001
2    53.849998
3    42.299999
4    70.699997
Name: MonthlyCharges, dtype: float64

In [93]:
#convert to 2 decimal places

data1['MonthlyCharges'] = data1['MonthlyCharges'].round(2)
data1['MonthlyCharges'].head()

0    29.85
1    56.95
2    53.85
3    42.30
4    70.70
Name: MonthlyCharges, dtype: float64

In [94]:
data2['MonthlyCharges'].head()

0     49.50
1     55.00
2     43.95
3     74.35
4    111.15
Name: MonthlyCharges, dtype: float64

In [95]:
data1['TotalCharges'].head()

0      29.850000
1    1889.500000
2     108.150002
3    1840.750000
4     151.649994
Name: TotalCharges, dtype: float64

In [96]:
data1['TotalCharges'] = data1['TotalCharges'].round(2)
data1['TotalCharges'].head()

0      29.85
1    1889.50
2     108.15
3    1840.75
4     151.65
Name: TotalCharges, dtype: float64

In [97]:
data1['TotalCharges'].isnull().sum()

5

In [98]:
# Drop rows with any missing values in the TotalCharges column
data1.dropna(subset='TotalCharges', inplace=True)
data1['TotalCharges'].isnull().sum()

0

In [99]:
data1['TotalCharges'].head()

0      29.85
1    1889.50
2     108.15
3    1840.75
4     151.65
Name: TotalCharges, dtype: float64

In [100]:
data2['TotalCharges'].head()

0     312.7
1    1046.5
2    2960.1
3     834.2
4    6953.4
Name: TotalCharges, dtype: object

In [101]:
# Convert the TotalCharges column to float datatype
data2['TotalCharges'] = pd.to_numeric(data2['TotalCharges'], errors='coerce').astype(float)

# Round the values to 2 decimal places
data2['TotalCharges'] = data2['TotalCharges'].round(2)
data2['TotalCharges'].head()

0     312.7
1    1046.5
2    2960.1
3     834.2
4    6953.4
Name: TotalCharges, dtype: float64

In [102]:
data1['Churn'].isnull().sum()

1

In [103]:
data1['Churn'].unique()

array([False, True, None], dtype=object)

In [104]:
# Drop rows with any missing values in the Churn column
data1.dropna(subset='Churn', inplace=True)
data1['Churn'].isnull().sum()

0

In [105]:
data1['Churn'].unique()

array([False, True], dtype=object)

In [106]:
data1['Churn'].replace(True, 'Yes', inplace=True)
data1['Churn'].replace(False, 'No', inplace=True)
data1['Churn'].unique()

array(['No', 'Yes'], dtype=object)

In [107]:
data2['Churn'].unique()

array(['No', 'Yes'], dtype=object)

In [108]:
data2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2043 entries, 0 to 2042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        2043 non-null   object
 1   gender            2043 non-null   object
 2   SeniorCitizen     2043 non-null   bool
 3   Partner           2043 non-null   bool
 4   Dependents        2043 non-null   bool
 5   tenure            2043 non-null   int64
 6   PhoneService      2043 non-null   bool
 7   MultipleLines     2043 non-null   bool
 8   InternetService   2043 non-null   object
 9   OnlineSecurity    2043 non-null   object
 10  OnlineBackup      2043 non-null   object
 11  DeviceProtection  2043 non-null   object
 12  TechSupport       2043 non-null   object
 13  StreamingTV       2043 non-null   object
 14  StreamingMovies   2043 non-null   object
 15  Contract          2043 non-null   object
 16  PaperlessBilling  2043 non-null   object
 17  PaymentMethod     2043 non-null   object
 18  MonthlyCharges    2043 non-null   float64
 19  TotalCharges      2040 non-null   float64
 20  Churn             2043 non-null   object
dtypes: bool(5), float64(2), int64(1), object(13)
memory usage: 265.5+ KB

In [109]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2994 entries, 0 to 2999
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        2994 non-null   object
 1   gender            2994 non-null   object
 2   SeniorCitizen     2994 non-null   bool
 3   Partner           2994 non-null   bool
 4   Dependents        2994 non-null   bool
 5   tenure            2994 non-null   int64
 6   PhoneService      2994 non-null   bool
 7   MultipleLines     2994 non-null   bool
 8   InternetService   2994 non-null   object
 9   OnlineSecurity    2994 non-null   object
 10  OnlineBackup      2994 non-null   object
 11  DeviceProtection  2994 non-null   object
 12  TechSupport       2994 non-null   object
 13  StreamingTV       2994 non-null   object
 14  StreamingMovies   2994 non-null   object
 15  Contract          2994 non-null   object
 16  PaperlessBilling  2994 non-null   object
 17  PaymentMethod     2994 non-null   object
 18  MonthlyCharges    2994 non-null   float64
 19  TotalCharges      2994 non-null   float64
 20  Churn             2994 non-null   object
dtypes: bool(5), float64(2), int64(1), object(13)
memory usage: 412.3+ KB

In [110]:
data1.to_csv('clean_data1.csv', index=False)
data2.to_csv('clean_data2.csv', index=False)

In [111]:
#combine data1 and data2 since they are the train dataset
#covert to csv file and store as 'train.csv'

df=pd.concat([data1,data2])
df.to_csv('train.csv', index=False)

In [117]:
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,False,True,False,1,False,False,DSL,False,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,False,False,False,34,True,False,DSL,True,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.50,No
2,3668-QPYBK,Male,False,False,False,2,True,False,DSL,True,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,False,False,False,45,False,False,DSL,True,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,False,False,False,2,True,False,Fiber optic,False,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [112]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5037 entries, 0 to 2042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        5037 non-null   object
 1   gender            5037 non-null   object
 2   SeniorCitizen     5037 non-null   bool
 3   Partner           5037 non-null   bool
 4   Dependents        5037 non-null   bool
 5   tenure            5037 non-null   int64
 6   PhoneService      5037 non-null   bool
 7   MultipleLines     5037 non-null   bool
 8   InternetService   5037 non-null   object
 9   OnlineSecurity    5037 non-null   object
 10  OnlineBackup      5037 non-null   object
 11  DeviceProtection  5037 non-null   object
 12  TechSupport       5037 non-null   object
 13  StreamingTV       5037 non-null   object
 14  StreamingMovies   5037 non-null   object
 15  Contract          5037 non-null   object
 16  PaperlessBilling  5037 non-null   object
 17  PaymentMethod     5037 non-null   object
 18  MonthlyCharges    5037 non-null   float64
 19  TotalCharges      5034 non-null   float64
 20  Churn             5037 non-null   object
dtypes: bool(5), float64(2), int64(1), object(13)
memory usage: 693.6+ KB

In [113]:
df['TotalCharges'].isnull().sum()

3

In [114]:
#look at the rows with missing values
# Create a boolean mask for rows with missing values
missing_values_mask = df.isnull().any(axis=1)

# Use boolean indexing to filter and display rows with missing values
rows_with_missing_values = df[missing_values_mask]

print(rows_with_missing_values)

      customerID  gender  SeniorCitizen  Partner  Dependents  tenure  \
218   2923-ARZLG    Male          False     True        True       0
1670  4075-WKNIU  Female          False     True        True       0
1754  2775-SEFEE    Male          False    False        True       0

      PhoneService  MultipleLines InternetService OnlineSecurity  ...  \
218           True          False              No    No Internet  ...
1670          True           True             DSL             No  ...
1754          True           True             DSL            Yes  ...

         DeviceProtection  TechSupport          StreamingTV  \
218   No internet service  No internet  No internet service
1670                  Yes          Yes                  Yes
1754                   No          Yes                   No

          StreamingMovies  Contract PaperlessBilling  \
218   No internet service  One year              Yes
1670                   No  Two year               No
1754                   No  Two year              Yes

                  PaymentMethod MonthlyCharges  TotalCharges  Churn
218                Mailed check          19.70           NaN     No
1670               Mailed check          73.35           NaN     No
1754  Bank transfer (automatic)          61.90           NaN     No

[3 rows x 21 columns]

In [115]:
# Drop rows with any missing values across all columns
df.dropna(inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5034 entries, 0 to 2042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        5034 non-null   object
 1   gender            5034 non-null   object
 2   SeniorCitizen     5034 non-null   bool
 3   Partner           5034 non-null   bool
 4   Dependents        5034 non-null   bool
 5   tenure            5034 non-null   int64
 6   PhoneService      5034 non-null   bool
 7   MultipleLines     5034 non-null   bool
 8   InternetService   5034 non-null   object
 9   OnlineSecurity    5034 non-null   object
 10  OnlineBackup      5034 non-null   object
 11  DeviceProtection  5034 non-null   object
 12  TechSupport       5034 non-null   object
 13  StreamingTV       5034 non-null   object
 14  StreamingMovies   5034 non-null   object
 15  Contract          5034 non-null   object
 16  PaperlessBilling  5034 non-null   object
 17  PaymentMethod     5034 non-null   object
 18  MonthlyCharges    5034 non-null   float64
 19  TotalCharges      5034 non-null   float64
 20  Churn             5034 non-null   object
dtypes: bool(5), float64(2), int64(1), object(13)
memory usage: 693.2+ KB